body{
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
background:  ghostwhite url(back.gif) ;
background-size:150%;
 margin: 0px;
 padding: 0px;
}
.header{
  width: 100%;
  height: 80px;
  display: block;
  background-color: black;
}
.innerHeader{
  width: 1000px;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.logo_container{
  height: 100%;
  display: table;
  float: left;
}
.logo_container h1{
  color:white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 150;
  letter-spacing: 5px;
}
.navigation{
  float: right;
  height: 100%;
  margin: 30px 0px ;

}
.navigation a{
  height: 100%;
  display: table;
  float: left;
  padding: 0px 25px;
}
.navigation a:last-child{
  padding: 0;
}
.navigation a li{
  text-decoration: none;
  outline: none;
  overflow: hidden;
  display: flex;
  vertical-align: middle;
  height: 100%;
  color:white;
  font-family: Montserrat;
  font-size: 16px;
}
a li:hover {

  border-bottom-width: 1px;
  border-radius: 25px;
color:hotpink;
  background-color: black;
  border-image: linear-gradient(to left,chartreuse,blue);
  border-image-slice: 1;
  box-shadow: blur;
    box-shadow: 0px 0px 15px 5px darkblue;
    background-blend-mode: hue;
}
span.currentPage{
  border: 1px solid;
  border-bottom-width: 1px;
  border-radius: 25px;
  color: blue;
  background-color: blue;
}
span.currentPagePortfolio{
  border: 1px solid;
  border-bottom-width: 1px;
  border-radius: 25px;
  color: blue;
  background-color: blue;
}
span.currentPageContacts{
  border: 1px solid;
  border-bottom-width: 1px;
  border-radius: 25px;
  color: blue;
  background-color: blue;
}
span.backgroundCurrentPageContacts{

    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
  background:  ghostwhite url(cube.png);
  background-size:150%;
   margin: 0px;
   padding: 0px;


}
/*div.footer{
  display:table-cell;
  justify-content: center;
  padding: 0 px 100px;
   color: blueviolet;
}*/
.textHomepage{
  border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 3px solid  ;
    border-image: linear-gradient(to left,chartreuse,blue);
    border-image-slice: 1;
    width:100%;
    height: 0px;
    float:inherit;
    margin-top: : 100px;
    margin-bottom: 100px;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: blur;
      box-shadow: 2px 2px 25px 1px chartreuse ;
      background-blend-mode: luminosity;

}
a:hover{
color: hotpink;
box-shadow: blur;
  box-shadow: 2px 2px 25px 1px chartreuse ;
  background-blend-mode: lighten;
}
/* border-box*/
.back1{
  display: block;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: auto;
  margin-right:auto;
  border-radius: 50%;
  width: 25%;
  height:25%;
  padding: 40px;
  border-image: linear-gradient(to left,chartreuse,blue);
  border-image-slice: 1;
  box-shadow: blur;
    box-shadow: 0px 0px 15px 1px darkblue;
    background-blend-mode: hue;

}
.back1border{
  padding: 1px;
  width: 25%;
  height:25%;
  border-radius: 10px;
  border-image: linear-gradient(to left,chartreuse,blue);
  border-image-slice: 1;
  box-shadow: blur;
    box-shadow: 0px 0px 15px 1px darkblue;
    background-blend-mode: hue;
}
.box{
  margin-top: : 100px;
  margin-bottom: auto;
  padding: 50px;
  padding-bottom: 0px;
  font-size: 180px;
  color:ghostwhite;
  font-weight: bold;
  width: 100%;
}
.portfolioItalic{
  line-height: 0.9em;
  font-weight:normal;
  font-style: italic;
  letter-spacing: 5px;
  padding: 100px;
}
.welcometext{
  font-weight: lighter;
  font-style: normal;
  font-size: 50px;
  color:chartreuse;
  text-align: center;
  margin-left: 25%;
  margin-right: 20%;
  padding-top: 50%;
  mergin-bottom:50%;
  float: right;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: bold;
  border-top: 2px solid  ;
  border-image: linear-gradient(to left,chartreuse,blue);
  border-image-slice: 1;
  border-bottom: 2px solid;
  padding: 10px;
  margin-bottom: 50px;
}
.Contacts {
  color: chartreuse;
  font-weight: bold;
  text-shadow: blanchedalmond;
    padding: 9 px;
    float: right;
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    margin-left: 50%;
    margin-right: 50%:
    float: left;
      width: 100%;
      padding: 10px;
      height: 300px;

}
.caption{
  text-align: center;
  margin-top: 50%;
  padding-top: 50%;
  padding: 10px;
  padding-top: 200px;
  font-size: 100px;
}
